<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/style/SearchPage.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>

<header>
    <nav class="navbar">
        <div class="logo1">
            <img src="/img/Soundy.svg">
            <img id="name" src="/img/Name.svg">
        </div>

        <ul>
            <li><a href="/Soundy">Soundy</a> </li>
        </ul>

    </nav>
</header>
<body>

<div class="matching">

    <div id="form">
        <form  th:action="@{/Soundy/matching}"  method="post">
            <p><input type="image" src="/img/SearchButton.svg"></p>
        </form>
    </div>


    <div id="song">
        <span th:text="${song != null ? song:'Find your song!'}"></span>
    </div>

</div>


<footer>
    <div>
        <img src="/img/Soundy.svg">
    </div>
    <div class="email">
        <div style="color: white">Email</div>
        <div>mataffi@gmail.com</div>
        <div>goodman@gamail.com</div>
    </div>
    <div class="social">
        <div>Social</div>
        <div class="social-con">
            <div><a href="#"><img src="/img/DiscordMini.svg"></a></div>
            <div><a href="#"><img src="/img/FacebookMini.svg"></a></div>
            <div><a href="#"><img src="/img/TwitterMini.svg"></a></div>
        </div>
    </div>
</footer>

</body>
</html>